{% extends 'base.html.twig' %}

{% block title %} ReadFiles !{% endblock %}

{% block body %}

<div class="d-flex justify-content-center w-100">
    <div class="card w-50 mt-5" >
        <div class="card-header">
            <h2>Importer un fichier</h2>
        </div>
        <div class="card-body">
            <table class="table table-bordered table-responsive-sm  ">
                <thead>
                <tr class="table-light">
                    <th>Fichiers Importés</th>
                </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <td> <a href="{{ path('files_infos',{'id': file.id}) }}">Fichier {{ file.id }}</a> </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">aucun résultat trouvé</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
        </div>
    </div>
</div>
{% endblock %}